body {
  background-color: #be91acc4 !important;
  overflow-x: hidden;
  background-color: #cccccc;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 1200'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c399e4'/%3E%3Cstop offset='0.02' stop-color='%23cccccc'/%3E%3Cstop offset='0.02' stop-color='%23b375ef'/%3E%3Cstop offset='0.032' stop-color='%23cccccc'/%3E%3Cstop offset='0.032' stop-color='%23d15bf6'/%3E%3Cstop offset='0.056' stop-color='%23cccccc'/%3E%3Cstop offset='0.056' stop-color='%23cc93e6'/%3E%3Cstop offset='0.07' stop-color='%23cccccc'/%3E%3Cstop offset='0.07' stop-color='%23be95e5'/%3E%3Cstop offset='0.1' stop-color='%23cccccc'/%3E%3Cstop offset='0.1' stop-color='%23c9c4d1'/%3E%3Cstop offset='0.126' stop-color='%23cccccc'/%3E%3Cstop offset='0.126' stop-color='%23bda7de'/%3E%3Cstop offset='0.142' stop-color='%23cccccc'/%3E%3Cstop offset='0.142' stop-color='%23d0afda'/%3E%3Cstop offset='0.159' stop-color='%23cccccc'/%3E%3Cstop offset='0.159' stop-color='%23b389e9'/%3E%3Cstop offset='0.17' stop-color='%23cccccc'/%3E%3Cstop offset='0.17' stop-color='%23d952f8'/%3E%3Cstop offset='0.197' stop-color='%23cccccc'/%3E%3Cstop offset='0.197' stop-color='%23c652f8'/%3E%3Cstop offset='0.218' stop-color='%23cccccc'/%3E%3Cstop offset='0.218' stop-color='%23c9b6d7'/%3E%3Cstop offset='0.239' stop-color='%23cccccc'/%3E%3Cstop offset='0.239' stop-color='%23ccbcd4'/%3E%3Cstop offset='0.254' stop-color='%23cccccc'/%3E%3Cstop offset='0.254' stop-color='%23cd29fd'/%3E%3Cstop offset='0.283' stop-color='%23cccccc'/%3E%3Cstop offset='0.283' stop-color='%23c9bbd5'/%3E%3Cstop offset='0.294' stop-color='%23cccccc'/%3E%3Cstop offset='0.294' stop-color='%23ba4ff8'/%3E%3Cstop offset='0.305' stop-color='%23cccccc'/%3E%3Cstop offset='0.305' stop-color='%23c736fc'/%3E%3Cstop offset='0.332' stop-color='%23cccccc'/%3E%3Cstop offset='0.332' stop-color='%23cdbfd3'/%3E%3Cstop offset='0.346' stop-color='%23cccccc'/%3E%3Cstop offset='0.346' stop-color='%23ca9ee2'/%3E%3Cstop offset='0.362' stop-color='%23cccccc'/%3E%3Cstop offset='0.362' stop-color='%23cac6cf'/%3E%3Cstop offset='0.381' stop-color='%23cccccc'/%3E%3Cstop offset='0.381' stop-color='%23d644fa'/%3E%3Cstop offset='0.415' stop-color='%23cccccc'/%3E%3Cstop offset='0.415' stop-color='%23c3abdd'/%3E%3Cstop offset='0.428' stop-color='%23cccccc'/%3E%3Cstop offset='0.428' stop-color='%23c7bbd5'/%3E%3Cstop offset='0.442' stop-color='%23cccccc'/%3E%3Cstop offset='0.442' stop-color='%23cbc6cf'/%3E%3Cstop offset='0.456' stop-color='%23cccccc'/%3E%3Cstop offset='0.456' stop-color='%23bf8de8'/%3E%3Cstop offset='0.498' stop-color='%23cccccc'/%3E%3Cstop offset='0.498' stop-color='%23d572f0'/%3E%3Cstop offset='0.511' stop-color='%23cccccc'/%3E%3Cstop offset='0.511' stop-color='%23c8bcd4'/%3E%3Cstop offset='0.532' stop-color='%23cccccc'/%3E%3Cstop offset='0.532' stop-color='%23c9b5d8'/%3E%3Cstop offset='0.541' stop-color='%23cccccc'/%3E%3Cstop offset='0.541' stop-color='%23c679ee'/%3E%3Cstop offset='0.56' stop-color='%23cccccc'/%3E%3Cstop offset='0.56' stop-color='%23c562f4'/%3E%3Cstop offset='0.581' stop-color='%23cccccc'/%3E%3Cstop offset='0.581' stop-color='%23b900ff'/%3E%3Cstop offset='0.6' stop-color='%23cccccc'/%3E%3Cstop offset='0.6' stop-color='%23c34af9'/%3E%3Cstop offset='0.618' stop-color='%23cccccc'/%3E%3Cstop offset='0.618' stop-color='%23ce83eb'/%3E%3Cstop offset='0.656' stop-color='%23cccccc'/%3E%3Cstop offset='0.656' stop-color='%23c272f0'/%3E%3Cstop offset='0.679' stop-color='%23cccccc'/%3E%3Cstop offset='0.679' stop-color='%23c999e4'/%3E%3Cstop offset='0.689' stop-color='%23cccccc'/%3E%3Cstop offset='0.689' stop-color='%23be9fe1'/%3E%3Cstop offset='0.720' stop-color='%23cccccc'/%3E%3Cstop offset='0.720' stop-color='%23cf36fc'/%3E%3Cstop offset='0.734' stop-color='%23cccccc'/%3E%3Cstop offset='0.734' stop-color='%23c6b4d8'/%3E%3Cstop offset='0.748' stop-color='%23cccccc'/%3E%3Cstop offset='0.748' stop-color='%23be83eb'/%3E%3Cstop offset='0.764' stop-color='%23cccccc'/%3E%3Cstop offset='0.764' stop-color='%23c9b3d9'/%3E%3Cstop offset='0.788' stop-color='%23cccccc'/%3E%3Cstop offset='0.788' stop-color='%23cfb1da'/%3E%3Cstop offset='0.808' stop-color='%23cccccc'/%3E%3Cstop offset='0.808' stop-color='%23bf7fec'/%3E%3Cstop offset='0.831' stop-color='%23cccccc'/%3E%3Cstop offset='0.831' stop-color='%23cac4d1'/%3E%3Cstop offset='0.856' stop-color='%23cccccc'/%3E%3Cstop offset='0.856' stop-color='%23bd47f9'/%3E%3Cstop offset='0.872' stop-color='%23cccccc'/%3E%3Cstop offset='0.872' stop-color='%23a65bf6'/%3E%3Cstop offset='0.894' stop-color='%23cccccc'/%3E%3Cstop offset='0.894' stop-color='%23af62f4'/%3E%3Cstop offset='0.914' stop-color='%23cccccc'/%3E%3Cstop offset='0.914' stop-color='%23d466f3'/%3E%3Cstop offset='0.942' stop-color='%23cccccc'/%3E%3Cstop offset='0.942' stop-color='%23cfa6df'/%3E%3Cstop offset='0.957' stop-color='%23cccccc'/%3E%3Cstop offset='0.957' stop-color='%23d083eb'/%3E%3Cstop offset='0.973' stop-color='%23cccccc'/%3E%3Cstop offset='0.973' stop-color='%23c429fd'/%3E%3Cstop offset='1' stop-color='%23cccccc'/%3E%3Cstop offset='1' stop-color='%23b86ef1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
@keyframes cube {
  from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
  }
  to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #eaa3cc;
  overflow: hidden;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #a40060;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
  animation-delay: 0s;
  left: 75vw;
  top: 40vh;
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 58vw;
  top: 69vh;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 14vw;
  top: 92vh;
  border-color: #c90175;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 38vw;
  top: 52vh;
  border-color: #c90175;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 46vw;
  top: 32vh;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 86vw;
  top: 88vh;
}

/*NAVBAR*/
nav {
  height: 100px;
}

#logo {
  margin-top: 15px;
  width: 300px;
  justify-content: stretch;
  transition: all 300ms;
}

#logo:hover {
  transform: scalex(1.3);
}
nav div ul li{
  margin-left: 40px;
  font-size: 17px;
  font-weight: bold;
}
nav div ul li a{
    transition: all 300ms;
}
nav div ul li a:hover{
    transform: scale(1.5);
}
#dropdown a:hover{
    transform: scale(1.0);
    background-color:#be91acc4 !important;

}
#search input{
  font-size: 17px;
}
#search button{
  font-size: 17px;
}
/*END NAVBAR*/
/*CAROUSEL*/
#carouselExampleIndicators{
  height: 80vh
}
#imgbg{
  margin-top: 5px;
  position: absolute;
  background: url("./img/imagendefondo2.jpg.crdownload");
  object-fit: cover;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(18px);
  z-index: 0;
  height: 100%;
  width: 100%;
  }
#carousel {
  margin-top: 20px;
}
#carousel div img {
  height: 600px;
  width: 300px;
  object-fit: contain;
  transition: all 300ms;
}
#carousel div img:hover{
  transform: scalex(1.2);
}
.carousel-indicators li {
  background-color: #fff !important;
}
.carousel-indicators .active {
  background-color: black !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 35px !important;
    width: 35px !important;
    transition: all 300ms;
}
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
    transform: scale(1.3) !important;
    background-color:black !important;
}
/*END CAROUSEL*/
/* SOCIAL MEDIA ICONS */
.icons {
  display: flex;
  column-gap: 12px;
  justify-content: right;
}
.icon {
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  vertical-align: middle;
  position: fixed;
}

.icon:hover {
  outline-offset: 4px;
  animation: shake 0.25s;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5849 45%,
    #d6249e 60%,
    #2859eb 90%
  );
  outline-color: #a02d76;
}
.icon--meta:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.icon--whatsapp:hover {
  background-color: #0c6614;
  outline-color: #2ea44f;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
aside {
  justify-content: right;
  border: 10px 0px;
  padding-right: -10px;
  position: fixed;
  left: 98%;
  z-index: 4;
}
#insta {
  margin-top: -7px;
  top: 40%;
  z-index: 4;
}

#meta {
  margin-top: 10px;
  top: 45%;
  z-index: 4;
  object-fit: fill;
}
#whatsapp {
  margin-top: 25px;
  top: 50%;
  z-index: 4;
}

/* SOCIAL MEDIA ICONS */

/*VIDEOS*/
#imgbgvideos{
  margin-top: 40px;
  position: absolute;
  background: url("./img/imagendefondo2.jpg.crdownload");
  object-fit: cover;
  background-size:cover;
  background-position: -200px -200px;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(6px);
  z-index: 0;
  height: 100%;
  width: 100%;
  }
#title1{
  
  display: flex;
  margin-left: 115px;
  justify-content: center;
   align-self: center;
}
#title2{
  
  display: flex;
  margin-left: 390px;
  justify-content: center;
   align-self: center;
}
#video1{
  margin-left: 200px;
  height: 800px;
  width: 450px;
  border-radius: 12px;
  box-shadow: 1px 0px 5px black;
}
#video2{
  margin-top: 100px;
  margin-left: 200px;
  height: 450px;
  width: 800px;
  border-radius: 12px;
  box-shadow: 1px 0px 5px black;
}
#moretutorials{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
   z-index: 1; 
}

#moretutorials > button{
  display: flex;
  width: 50%;
  justify-content: center;
  align-self: center;
  margin: 20px auto;
  border-radius: 20px !important
  }

  #moretutorials > button > p{
    align-self: center;
    margin: auto;
    font-size: 30px;
  }
  /*FOOTER*/
  #footer{
    margin: 0;
    background-color: #eb008b;
    display: flex;
    width: 100%;
    height: 70px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px #333;
  }
  #lupa{
    margin: 0 auto;
  }

  #clipboard{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }  
  #bank{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  #footerbody{
    height: 300px;
    background-color: #f7c1d8;
  }
#footerbody div ul{
    padding-left: 0px;
  }

#footerbody div ul li{
  list-style: none;
  transition: all 300ms;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #6c0255;
}
#footerbody div ul li:hover{
  transform: scaleX(1.2);
  cursor: pointer;
  color:#eb008b;
}