#container{
    height: auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products{
    width: 400px;
    height: 550px;
    z-index: 1;
    margin-bottom: 10px;
    overflow: hidden;
    overflow-x: hidden;
    
}
.products img{
    object-fit: contain;
    width: 400px;
    height: 300px;
}
.products p{
    text-align: center;
}

.products a{
    display: block;   
    justify-content: center;
    align-self: center;
    border: 1px solid black;
}
.card-body{
    background-color: rgb(214,36,158,0.5);
}

.card-body h5{
    text-align: center;
}