/*CARDS*/
#container{
    height: auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}
#shopping-car-button{
    /* position: fixed; */
    margin-left: 35px;
    width: 7px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
 #shopping-car{
    /* position: absolute;
    top:40%;
    left:-80%; */
    object-fit: contain; 
    height: 65px;
    z-index: 1;
    margin-top: -20px;
    
} 
#shopping-counter{
    position: relative;
    font-size: larger;
    font-weight: bolder;
    z-index: 2;
    margin-left: 15px;
    
}

#shopping-car-button:focus{
    outline: none !important;
}
.products{
    width: 400px;
    height: auto;
    z-index: 1;
    margin-bottom: 10px;
    overflow: hidden;
    overflow-x: hidden;
}
.products img{
    object-fit: contain;
    width: 400px;
    height: 300px;
    
}
.products p{
    text-align: center;
}

.products a{
    display: block;   
    justify-content: center;
    align-self: center;
    border: 1px solid black;
}
.card-body{
    background-color: rgb(214,36,158,0.5);
    height:max-content;
}

.card-body h5{
    text-align: center;
}
/*END CARDS*/
/*DISCOUNTS*/

.discProducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discProducts img{
    height: 500px;
    width: auto;
    object-fit: contain;
}
.discProducts a{
    border: 1px solid 
}

.discProducts .card-body{
    background-color: rgb(214,36,158,0.5);
}
/*END DISCOUNTS*/
/*START MODAL*/
#myModal{
    
}
.modal-dialog{
    background-color: rgb(214,36,158, 1);
    border-radius: 20px;
    max-width: 1200px !important;
    padding: 20px;
}
#modalContent{
    background-color: transparent;
    border: none;

}
#shopping-car-close{
   height: 30px; 
   margin-top: 10px;
}
#modalContent .prodInCar{
    
}
#modalContent img{
    object-fit: contain;
}
#modalContent .proInCar:nth-child(odd){
    background-color:white ;
}


/*END MODAL*/
