body {
  background-color: #be91acc4 !important;
}
/*NAVBAR*/
nav {
  height: 100px;
}

#logo {
  margin-top: 15px;
  width: 300px;
  justify-content: stretch;
  transition: all 300ms;
}

#logo:hover {
  transform: scalex(1.3);
}
nav div ul li{
  margin-left: 40px;
  font-size: 17px;
  font-weight: bold;
}
nav div ul li a{
    transition: all 300ms;
}
nav div ul li a:hover{
    transform: scale(1.5);
}
#dropdown a:hover{
    transform: scale(1.0);
    background-color:#be91acc4 !important;

}
#search input{
  font-size: 17px;
}
#search button{
  font-size: 17px;
}
/*END NAVBAR*/
/*CAROUSEL*/
#imgbg{
  margin-top: 40px;
  position: absolute;
  background: url("./img/imagendefondo2.jpg.crdownload");
  object-fit: cover;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(18px);
  z-index: 0;
  height: 100%;
  width: 100%;
  }
#carousel {
  margin-top: 20px;
}
#carousel div img {
  height: 600px;
  width: 300px;
  object-fit: contain;
  transition: all 300ms;
}
#carousel div img:hover{
  transform: scalex(1.2);
}
.carousel-indicators li {
  background-color: #fff !important;
}
.carousel-indicators .active {
  background-color: black !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 35px !important;
    width: 35px !important;
    transition: all 300ms;
}
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
    transform: scale(1.3) !important;
    background-color:black !important;
}
/*END CAROUSEL*/
/* SOCIAL MEDIA ICONS */
.icons {
  display: flex;
  column-gap: 12px;
  justify-content: right;
}
.icon {
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  vertical-align: middle;
  position: fixed;
}

.icon:hover {
  outline-offset: 4px;
  animation: shake 0.25s;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5849 45%,
    #d6249e 60%,
    #2859eb 90%
  );
  outline-color: #a02d76;
}
.icon--meta:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.icon--whatsapp:hover {
  background-color: #0c6614;
  outline-color: #2ea44f;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
aside {
  justify-content: right;
  border: 10px 0px;
  padding-right: -10px;
  position: fixed;
  left: 98%;
  z-index: 4;
}
#insta {
  margin-top: -7px;
  top: 40%;
  z-index: 4;
}

#meta {
  margin-top: 10px;
  top: 45%;
  z-index: 4;
  object-fit: fill;
}
#whatsapp {
  margin-top: 25px;
  top: 50%;
  z-index: 4;
}

/* SOCIAL MEDIA ICONS */

/*VIDEOS*/
#imgbgvideos{
  margin-top: 40px;
  position: absolute;
  background: url("./img/imagendefondo2.jpg.crdownload");
  object-fit: cover;
  background-size:cover;
  background-position: -200px -200px;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(6px);
  z-index: 0;
  height: 100%;
  width: 100%;
  }
#title1{
  color: #fff;
  display: flex;
  margin-left: 115px;
  justify-content: center;
   align-self: center;
}
#title2{
  color: #fff;
  display: flex;
  margin-left: 390px;
  justify-content: center;
   align-self: center;
}
#video1{
  margin-left: 200px;
  height: 800px;
  width: 450px;
  border-radius: 12px;
  box-shadow: 1px 0px 5px black;
}
#video2{
  margin-top: 100px;
  margin-left: 200px;
  height: 450px;
  width: 800px;
  border-radius: 12px;
  box-shadow: 1px 0px 5px black;
}
#moretutorials{
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
   z-index: 1; 
}

#moretutorials > button{
  display: flex;
  width: 50%;
  justify-content: center;
  align-self: center;
  margin: 20px auto;
  border-radius: 20px !important
  }

  #moretutorials > button > p{
    align-self: center;
    margin: auto;
    font-size: 30px;
  }
  /*FOOTER*/
  #footer{
    margin: 0;
    background-color: #eb008b;
    display: flex;
    width: 100%;
    height: 70px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px #333;
  }
  #lupa{
    margin: 0 auto;
  }

  #clipboard{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }  
  #bank{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  #footerbody{
    height: 300px;
    background-color: #f7c1d8;
  }
